html {
    background-color: #F0ECEE;
}

ul > li {
    display: flex;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.weight {
    font-weight: 600;
}

#weight-top {
    font-weight: 600;
}

.emphasis {
    color: #FF4850;
}

#container-button {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #FF4850;
    padding: 10px;
    border-radius:15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}
#container-button:hover {
    background-color: #CCC;
    color: #FF4850;
}

.pbutton {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #FF4850;
    padding: 10px 0;
    border-radius:15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}
.pbutton:hover {
    background-color: #CCC;
    color: #FF4850;
}


nav a {
    font-weight: 400;
    color: #88898B;
    text-decoration: none;
}

nav a:hover {
    color: #FF4850;
    text-decoration: none;
}

body {
    font-family: "Fira Sans";
    margin: 20px 20px;
}

.main {
        flex: 1 100%;
    }
.main > p {
        flex: 1 100%;
        font-weight: 300;
        padding-bottom: 20px;
        color: #88898B;
    }

/*======================================================================*/

@media all and (min-width: 768px) {
   
    html {
        background: url(bulldog.jpg) no-repeat;
        position: relative;
        background-size: cover;
        height: 100%;
        overflow: hidden;
        background-color: #F0ECEE;
}
    .header-container {
        display: flex;
        margin: 30px;
        align-items: baseline;
        justify-content: space-between;
        font-weight: 300;

}
    .r-nav{
        display: flex;        

}
    .main {
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        margin: 30px;
 }
    #container-button {
        width: auto;
}

    .pbutton {
        width: auto;
        padding: 10px;
    }

    li {
        padding-right: 10px;
    }
}