html {
    background-color: #F0ECEE;
}

#container-button{
    display: flex;
}
li > #container-button {
    flex: 1 1 100%;
    justify-content: center;
}

ul > li {
    display: flex;
    align-items: center;
}

.pbutton{
    display: flex;
}
div > .pbutton {
    flex: 1 1 100%;
    justify-content: center;
}

p {
    font-weight: 300;
    padding-bottom: 20px;
}

.weight {
    font-weight: 600;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    padding-right: 10px;
}

#weight-top {
    font-weight: 600;
}

.emphasis {
    color: #FF4850;
}

#container-button {
    background-color: #FF4850;
    padding: 10px;
    border-radius:15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}
#container-button:hover {
    background-color: #CCC;
    color: #88898B;
}

.pbutton {
    background-color: #FF4850;
    padding: 10px;
    border-radius:15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}
.pbutton:hover {
    background-color: #CCC;
    color: #88898B;
}


nav a {
    font-weight: 600;
    color: #88898B;
    text-decoration: none;
}

nav a:hover {
    color: #FF4850;
    text-decoration: none;
}


body {
    font-family: "Fira Sans";
    //background-color: #F0ECEE;
    margin: 20px 20px;
}


.main > h1 {
        flex: 1 100%;
    }
.main > p {
        flex: 1 100%;
    }
.main > .pbutton {
        flex: 1 100%;
    //align-items: baseline;
    }
/*======================================================================*/

@media all and (min-width: 768px) {
    .header-container {
    display: flex;
    /*width: auto;*/
    margin: 30px;
    align-items: baseline;
    justify-content: space-between;
    font-weight: 300;

}
    .r-nav{
        display: flex;        
        //justify-content: flex-start;
        font-weight: 300;
}
li > #container-button{
    display: flex;
    align-items: center;
}
    html {
    background: url(bulldog.jpg) no-repeat;
    position: relative;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    background-color: #F0ECEE;
}

    .main {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: 30px;
    
}
}
